.globe{
    fill:rgb(111, 162, 175);
    stroke: #888;
    stroke-width: .7px;
}
path.country {
    stroke: #888;
    fill: #e5e5e5;
    opacity: 0.6;
}
svg{
    background-image: linear-gradient(to right bottom, #050c16, #050913, #04060f, #03040a, #010104);
}